<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% if title != 'Home' %}
        <title>Photography by Arun - {{ title }}</title>
    {% else %}
        <title>Photography by Arun</title>
    {% endif %}

    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .header {
            background-color: #3498db; /* Change this to the color you want */
            padding: 10px;
            text-align: left;
            color: #fff;
        }

        .pageTitle {
            margin: 0;
            display: inline;
        }
    </style>
</head>
<body>

    <div class="header">
        <h1 class="pageTitle">{{ title }}</h1>
    </div>

    <!-- Your page content goes here -->
    {% block content %}{% endblock %}
</body>
</html>